body {
	padding-bottom: 0px;
	background-image: url('/images/body-noise.png');
	font-size: 80%;
}

.slider-frame {
	background: -moz-linear-gradient(top,  rgba(245,246,246,1) 0%, rgba(219,220,226,0.71) 21%, rgba(184,186,198,0.31) 49%, rgba(185,187,199,0.3) 50%, rgba(221,223,227,0.72) 80%, rgba(245,246,246,1) 100%);
	background: -webkit-linear-gradient(top,  rgba(245,246,246,1) 0%,rgba(219,220,226,0.71) 21%,rgba(184,186,198,0.31) 49%,rgba(185,187,199,0.3) 50%,rgba(221,223,227,0.72) 80%,rgba(245,246,246,1) 100%);
	background: -o-linear-gradient(top,  rgba(245,246,246,1) 0%,rgba(219,220,226,0.71) 21%,rgba(184,186,198,0.31) 49%,rgba(185,187,199,0.3) 50%,rgba(221,223,227,0.72) 80%,rgba(245,246,246,1) 100%);
	background: -ms-linear-gradient(top,  rgba(245,246,246,1) 0%,rgba(219,220,226,0.71) 21%,rgba(184,186,198,0.31) 49%,rgba(185,187,199,0.3) 50%,rgba(221,223,227,0.72) 80%,rgba(245,246,246,1) 100%);
	background: linear-gradient(to bottom,  rgba(245,246,246,1) 0%,rgba(219,220,226,0.71) 21%,rgba(184,186,198,0.31) 49%,rgba(185,187,199,0.3) 50%,rgba(221,223,227,0.72) 80%,rgba(245,246,246,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f6f6', endColorstr='#f5f6f6',GradientType=0 );
	margin-bottom: 10px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

#mcts1 {
	background-color: transparent;
	box-shadow: 0px 0px 0px #FFF;
	border: 0;
}

#sliderFrame {
	margin-top: 8px;
	margin-bottom: 0;
}

div.mc-caption-bg, div.mc-caption-bg2 {
	top: 240px;
}

div.mc-caption {
	font-family: 'Open Sans', arial, sans-serif;
}

#logo {
	margin-top: 5px;
	margin-right: auto;
}

#logo img {
	height: 31px;
}

.navbar .input-append {
	margin-top: 5px;
	margin-right: 25px;
}

footer {
	font-size: 85%;
	line-height: 1.2em;
}

.boxes {
	height: 200px;
	padding: 3px;
	font-size: 85%;
	overflow-y: auto;
	overflow-x: hidden;
}

.boxes img {
	width: 16px;
	margin-right: 5px;
}

.boxes li {
	padding: 1px 0px;
	font-family: arial, sans-serif;
	text-overflow: ellipsis;
}

.boxes li:first-child {
	margin-top: 10px;
}

.boxes li a {
	color: #183F4C;
}

footer img {
	margin-right: 10px;
	width: 27px;
}

/*
 * SLIDER
 */
.rslides {
	position: relative;
	list-style: none;
	overflow: hidden;
	width: 100%;
	padding: 0;
	margin: 0;
}

#slider {
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	margin: 0 auto;
}

#slider .caption {
	display: block;
	position: absolute;
	z-index: 2;
	font-size: 14px;
	text-shadow: none;
	color: #FFF;
	background: #000;
	background: rgba(0, 0, 0, .8);
	left: 0;
	right: 0;
	bottom: 0;
	padding: 10px 20px;
	margin: 0;
	max-width: none;
}

@media (min-width: 1000px) { 
	body {
		padding-top: 60px;
	}
	
	.rslides {
		width: 600px;
	}
	
	#sliderFrame {
		margin-left: 70px;
	}
}