@font-face {
	font-family: 'Open Sans';
	src: url('/third_party/bootmetro/font/opensans-regular-webfont.eot');
	src: local('Open Sans'), local('Open Sans'), url('/third_party/bootmetro/font/opensans-regular-webfont.ttf') format('truetype');
}
	
body {
	font-family: 'Open Sans', Arial, sans-serif;
	padding-top: 50px;
	padding-bottom: 10px;
	background-image: url('/images/body-noise.png');
}

.slider-frame {
	background: -moz-linear-gradient(top,  rgba(245,246,246,1) 0%, rgba(219,220,226,0.71) 21%, rgba(184,186,198,0.31) 49%, rgba(185,187,199,0.3) 50%, rgba(221,223,227,0.72) 80%, rgba(245,246,246,1) 100%);
	background: -webkit-linear-gradient(top,  rgba(245,246,246,1) 0%,rgba(219,220,226,0.71) 21%,rgba(184,186,198,0.31) 49%,rgba(185,187,199,0.3) 50%,rgba(221,223,227,0.72) 80%,rgba(245,246,246,1) 100%);
	background: -o-linear-gradient(top,  rgba(245,246,246,1) 0%,rgba(219,220,226,0.71) 21%,rgba(184,186,198,0.31) 49%,rgba(185,187,199,0.3) 50%,rgba(221,223,227,0.72) 80%,rgba(245,246,246,1) 100%);
	background: -ms-linear-gradient(top,  rgba(245,246,246,1) 0%,rgba(219,220,226,0.71) 21%,rgba(184,186,198,0.31) 49%,rgba(185,187,199,0.3) 50%,rgba(221,223,227,0.72) 80%,rgba(245,246,246,1) 100%);
	background: linear-gradient(to bottom,  rgba(245,246,246,1) 0%,rgba(219,220,226,0.71) 21%,rgba(184,186,198,0.31) 49%,rgba(185,187,199,0.3) 50%,rgba(221,223,227,0.72) 80%,rgba(245,246,246,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f6f6', endColorstr='#f5f6f6',GradientType=0 );
	border: 1px solid #e3e3e3;
}

#mcts1 {
	background-color: transparent;
	box-shadow: 0px 0px 0px #FFF;
	border: 0;
}

#sliderFrame {
	margin-top: 8px;
	margin-bottom: 0;
}

div.mc-caption-bg, div.mc-caption-bg2 {
	top: 240px;
}

div.mc-caption {
	font-family: 'Open Sans', arial, sans-serif;
}

#logo {
	margin-top: 5px;
	margin-left: 15px;
	margin-right: auto;
}

#logo img {
	height: 31px;
}

.navbar .input-append {
	margin-top: 5px;
}

footer {
	font-size: 85%;
	line-height: 1.2em;
}

.boxes {
	height: 200px;
	padding: 3px;
	font-size: 85%;
	overflow: auto;
}

.boxes img {
	width: 16px;
	margin-right: 5px;
}

.boxes li {
	padding: 1px 0px;
	font-family: arial, sans-serif;
}

.boxes li:first-child {
	margin-top: 10px;
}

.boxes li a {
	color: #183F4C;
}

footer img {
	margin-right: 10px;
	width: 27px;
}

@media (min-width: 1000px) { 
	#sliderFrame {
		margin-left: 70px;
	}
}