/*
MAIN CSS
*/
body{
	background-image:url('/images/bg.gif') ;
	}
.image-admin{
	height:100px;
	width:100px;
	}
.jurnal-image{
	height:150px;
	width:150px;
	}
.populer-image{
	height:50px;
	width:50px;
	}
